**/dist
**/assets
**/coverage
**/.idea
**/.angular
**/.vscode
**/.nyc_output
**/.github
**/node_modules

**/*.gitattributes
**/*.gitignore
**/*.Prettierrc
**/*.prettierignore
**/*.browserslistrc
**/*.editorconfig
**/*.eslintignore

**/*.md
**/*.scss
**/*.css
**/*.ico
**/*.png
**/*.jpg
**/*.jpeg
**/*.svg

**/*.ttf
**/*.woff
**/*.woff2

**/*.tgz
**/nginx.site.template

**/*.properties
.npmrc
.scannerwork
.DS_Store

tmp
docs

**/unsupported-browser.js

docker/docker-compose.yml
info.json
