<div class="background"></div>
<div class="gallery">
  <app-home-card title="Gaming accessories" [list]="gamingDeal"></app-home-card>
  <app-home-card title="Gaming accessories" [list]="gamingDeal"></app-home-card>
  <app-home-card title="Shop deals in Fashion" [list]="shoppingDeal"></app-home-card>
  <app-home-card variant="single" title="Deals in PCs" [list]="pcDeal"></app-home-card>
  
  <app-home-card title="Gaming accessories" [list]="gamingDeal"></app-home-card>
  <app-home-card title="Gaming accessories" [list]="gamingDeal"></app-home-card>
  <app-home-card variant="single" title="Deals in PCs" [list]="pcDeal"></app-home-card>
  <app-home-card title="Shop deals in Fashion" [list]="shoppingDeal"></app-home-card>
  
  <app-home-card variant="first-large" title="Smartphone" [list]="phoneDeal"></app-home-card>
  <app-home-card variant="single" title="Deals in PCs" [list]="pcDeal"></app-home-card>
  <app-home-card title="Gaming accessories" [list]="gamingDeal"></app-home-card>
  <app-home-card title="Shop deals in Fashion" [list]="shoppingDeal"></app-home-card>
</div>
