<div class="primary-header">
  <div class="image-container">
    <img alt="logo" ngSrc="/assets/images/logo.png" fill priority/>
  </div>
  
  <div class="location">
    <i class="fas fa-location-dot"></i>
    <div>
      <span class="small">Deliver to</span>
      <br/>
      <span class="bold">Vietnam</span>
    </div>
  </div>
  
  <div class="search-container">
    <select>
      <option value="All" selected>All</option>
    </select>
    <input type="text" placeholder="Search Amazon"/>
    <div class="search">
      <i class="fas fa-magnifying-glass"></i>
    </div>
  </div>
  
  <div class="sign-in">
    <span class="small">Hello, sign in</span>
    <span class="bold">Account & List</span>
  </div>
  
  <div class="sign-in">
    <span class="small">Return</span>
    <span class="bold">& Order</span>
  </div>
  
  <div class="cart">
    <i class="fas fa-cart-shopping"></i>
    <span class="count">0</span>
  </div>
</div>

<div class="secondary-header">
  <div class="menu-item">
    <i class="fas fa-bars"></i>
    <span>All</span>
  </div>
  <div class="menu-item">
    <span>Today's Deal</span>
  </div>
  <div class="menu-item">
    <span>Customer Service</span>
  </div>
  <div class="menu-item">
    <span>Registry</span>
  </div>
  <div class="menu-item">
    <span>Gift Cards</span>
  </div>
  <div class="menu-item">
    <span>Sell</span>
  </div>
</div>
